* {
  margin: 0;
}

body {
  min-height: 200vh;
  height: 100%;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.project-name {
  top: 34%;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 40px;
  font-size: 4em;
  color: #FFF;
}

.name {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 130px;
  margin: auto;
  border-right: 1px solid #DDD;
}

.name h4 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 200px;
  height: 130px;
  text-align: center;
  -webkit-transform-origin: 0 50%;
  line-height: 130px;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(0, 50%);
  -moz-transform: rotate(-90deg) translate(0, 50%);
  -ms-transform: rotate(-90deg) translate(0, 50%);
  -o-transform: rotate(-90deg) translate(0, 50%);
  transform: rotate(-90deg) translate(0, 50%);
}

.desc {
  display: inline-block;
  margin-left: 6px;
}

.work {
  position: fixed;
  right: 90px;
  top: 80px;
  font-weight: 700;
  color: #DDD;
  z-index: -1;
  font-size: 4em;
}

.dates {
  position: fixed;
  right: 90px;
  bottom: 80px;
  font-weight: 700;
  color: #444;
  z-index: -1;
  font-size: 1em;
}

.gray {
  color: #888;
}

.fadeout {
  opacity: 0;
  transition: opacity .5s;
}

.fadein {
  opacity: 1;
  transition: none;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.inner {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.content {
  position: relative;
  height: 100%;
}

.square {
  background-color: green;
  height: 350px;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 300px 0;
}

.pro {
  height: 380px;
  width: 100%;
  min-width: 500px;
  position: relative;
}

.main-title {
  margin: 0;
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index: 130;
  backface-visibility: hidden;
  font-size: 3em;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.main-title figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.main-title .back {
  transform: rotateY( 180deg);
}

.flipped {
  transform: rotateY( 180deg);
}

.project-index {
  padding: 300px 0;
  border: 12px solid transparent;
}

.project-index.border-reveal {
  border-color: black;
}

body.backgrounded {
  overflow: hidden;
}

.project-image {
  position: absolute;
  width: 1200px;
  object-fit: cover;
  pointer-events: none;
  transform-origin: initial;
  top: -30%;
  clip: rect(0, 100vw, 100vh, 0);
  left: -40%;
}

.project-image-spacer {
  height: 300px;
}

.project-title {
  line-height: 60px;
  height: 60px;
  background-color: #FFF;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 1em;
}

.project-title-mask {}

.project-row {
  /* margin: 100px 0; */
}

.project {
  overflow: hidden;
  cursor: pointer;
  height: 460px;
  -webkit-transition: transform .5s;
  /* Safari */
  transition: transform .5s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.top-bumper {
  margin-top: 300px;
}

/*viewport borders */

.borders {
  display: block;
  z-index: 140;
  position: fixed;
}

.bord {
  position: fixed;
  background-color: #000;
  -webkit-transition: all 0.2s;
  /* Safari */
  transition: all 0.2s;
}

.top-border {
  height: 0px;
  width: 100vw;
  top: 0;
  left: 0;
}

.bottom-border {
  height: 0px;
  width: 100vw;
  bottom: 0;
  left: 0;
}

.right-border {
  height: 100vh;
  width: 0px;
  bottom: 0;
  right: 0;
}

.left-border {
  height: 100vh;
  width: 0px;
  bottom: 0;
  left: 0;
}

.square1 {}

.square2 {}

.square3 {}

.zenefits-square {}

/*ups and downs*/

.up1 {
  -webkit-transition: transform 0.1s;
  /* Safari */
  transition: transform 0.1s;
}

.up2 {
  -webkit-transition: transform 0.4s;
  /* Safari */
  transition: transform 0.4s;
}

.up3 {
  -webkit-transition: transform 0.7s;
  /* Safari */
  transition: transform 0.7s;
}

.down1 {
  -webkit-transition: transform 0.7s;
  /* Safari */
  transition: transform 0.7s;
}

.down2 {
  -webkit-transition: transform 0.4s;
  /* Safari */
  transition: transform 0.4s;
}

.down3 {
  -webkit-transition: transform 0.1s;
  /* Safari */
  transition: transform 0.1s;
}

.invisible {
  opacity: 0;
  -webkit-transition: all 2s;
  /* Safari */
  transition: all 2s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.full {
  width: 100vw !important;
}

.shrink {
  width: 80vw;
}

/*project classes*/

.project-page {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  transition: all 5s;
  clip: rect(0, 100vw, 100vh, 0);
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  transition: all 3s ease-out;
}

.project-page.reveal {
  transform: translate3d(100%, 0, 0);
  transition: transform 3s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.project-page.hide {
  transform: translate3d(-100%, 0, 0);
  transition: none;
}

.first {
  margin-top: 80vh;
}

.project-section {
  background-color: #FFF;
  width: 100%;
  min-height: 700px;
  color: #444;
  font-size: 1;
  padding: 100px 0;
}

.project-page-image {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(4);
  transform-origin: bottom right;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  z-index: -1;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  transition-delay: 3s;
}

.project-content {
  font-size: 1em;
  color: white;
  height: 100%;
  overflow: auto;
}

.off {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: all 1s;
  /* Safari */
  transition: all 1s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.on {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-transition: all 1s;
  /* Safari */
  transition: all 1s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.project-top .cover {
  height: 400px;
  padding-top: 0px;
  position: absolute;
  overflow: hidden;
  top: 30%;
  z-index: 140;
  color: #FFF;
  text-align: center;
  width: 100%;
}

.project-top .cover h1 {
  font-size: 18em;
}

.close {
  height: 40px;
  width: 40px;
  background-color: #555;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.zenefits {}

.pro:hover .top-border {
  height: 4px;
}